html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bold;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

body .mobile-visible {
    display: none;
}

@media (max-width: 1000px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-visible {
        display: none;
    }
}

.no-scrolling {
    overflow: hidden;
}

.link {
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

.invert-link {
    text-decoration: none;
}

.invert-link:hover {
    text-decoration: underline;
}

html,
body {
    font-size: calc(100vw / 1920);
    height: 100%;
}

body {
    margin: 0;
    color: #fff;
    font: normal 16rem/19rem 'OfficinaSans', sans-serif;
}

.container {
    position: relative;
    max-width: 1630rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 15rem;
}

footer {
    position: relative;
    flex: 0 0 auto;
    min-height: 280rem;
    text-align: center;
    background: #fff;
    color: #A3A3A3;
    padding: 20rem 0;
    z-index: 1;
}

footer .container {
    max-width: 1730rem;
}

.footer-announce {
    font-size: 18rem;
    line-height: 21rem;
    color: #C4C4C4;
    margin-bottom: 30rem;
}

.footer-links {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    max-width: 900rem;
    width: 100%;
    margin: 0 auto 40rem;
}

.footer-links a {
    font-size: 20rem;
    line-height: 1;
    color: #00a3d4;
    margin: 0 20rem;
}

.mndlz {
    max-width: 132rem;
    width: 100%;
    margin: 0 auto 25rem;
}

.copyright {
    font-size: 20rem;
    line-height: 1;
    text-align: center;
}

.plug-block {
    min-height: 940rem;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    background: url(../img/plug.jpg) center 0 no-repeat;
    background-size: cover;
}

@media (max-width: 767px) {
    html,
    body {
        font-size: calc(100vw / 320);
    }

    .plug-block {
        width: 100%;
        min-height: 516px;
        margin: auto;
        background: url(../img/plug-mob.jpg) center 0 no-repeat #A2E2FF;
        background-size: 321px;
    }

    .footer-announce {
        font-size: 14rem;
        line-height: 17rem;
    }

    .footer-links {
        flex-direction: column;
        margin-bottom: 20rem;
    }

    .footer-links a {
        font-size: 16rem;
        margin: 10rem 0;
    }

    .copyright {
        font-size: 14rem;
        line-height: 17rem;
    }
}